
@model OrderViewModel


<h2>Your orders</h2>
<h4>Here is an overview of your orders.</h4>

<table class="table">
    <thead>
        <tr class="columnHeader">
            <th>ID</th>
            <th>DATE</th>
            <th>TOTAL</th>
            <th>PAID?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Orders)
        {
        <tr>
            <td>@line.Id</td>
            <td>@line.PlacedTime.ToShortDateString()</td>
            <td class="bold">$@line.Total</td>
            <td class="bold">@line.Paid</td>
        </tr>
        }
    </tbody>
</table>